<div class="row">
    <div class="input-field col s12">
        <input name="name" id="name" value="{{address.name}}"/>
        <label class="active" for="name">Name</label> 
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input name="street" id="street" value="{{address.street}}"/>
        <label class="active" for="lname">Street</label> 
    </div>
</div>

<div class="row">
    <div class="input-field col s4">
        <input name="city" id="city" value="{{address.city}}"/>
        <label class="active" for="city">City</label> 
    </div>

    <div class="input-field col s2">
        <input name="state" id="state" maxlength="2" value="{{address.state}}"/>
        <label class="active" for="state">State</label> 
    </div>

    <div class="input-field col s4">
        <input name="postal" id="postal" value="{{address.zip}}"/>
        <label class="active" for="postal">Postal</label> 
    </div>

    <div class="input-field col s2">
        <input name="country" id="country" value="{{address.country}}"/>
        <label class="active" for="country">Country</label> 
    </div>
</div>
